body { display: flex; height: 100vh; flex-direction: column; }

#idHeader 	{ z-index: 51;	height: 50px; box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8), 0 6px 24px 0 rgba(0, 0, 0, 0.79); }
#idContent 	{ z-index: 1;	height: 100%; width: 100%; }
#idFooter 	{ z-index: 50; 	height: 50px; box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.8), 0 6px 24px 0 rgba(0, 0, 0, 0.79); }
#idCanvas 	{ z-index: 5;	position: absolute; left: 0px; top: 44px; }

.fa-size { font-size: 2.5em; }

.trim { margin: 0px; padding: 0px; }
.f-box { display: flex; justify-content: space-between; flex-wrap: nowrap; align-items: center; }
.f-text { font-size: 1.5em; opacity: 0.6; color: #ffffff; background-color: transparent; }

/* text-overflow: ellipsis; */
.UIContent 						{ z-index: 30; overflow: hidden; position: absolute; margin: 0; padding: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-wrap: nowrap; }
.UIContent div 					{ margin: 0; }

.UIContent .UIWell 				{ z-index: 31; position: relative; }
.UIContent .UIReceptacle		{ z-index: 32; position: absolute; overflow: hidden; display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: flex-start; align-content: flex-start; }

.UIContent .UIFile 			{ z-index: 33; transition: all 0.4s; position: relative; margin: 25px; width: 100px; height: 100px; border-radius: 50px; background-color: #0288d1; box-shadow: 4px 4px 10px black; }
.UIContent .UIFile .topHalf 	{ transition: all 0.3s; position: absolute; background-color: white; top: 0px; left: 0px; height: 50%; width: 100%; border-radius: 100px 100px 0 0;}
.UIContent .UIFile:hover 		{ border-radius: 15px; transform: scale(1.5, 1.5); }
.UIContent .UIFile:hover .topHalf { border-radius: 15px;  }

.UIContent .UIStrength 			{ display: flex; justify-content: center; flex-wrap: nowrap; align-items: flex-end; }
.UIContent .UIStrength div 		{ margin: 0 1px 0 1px; border: 1px solid rgba(255, 255, 255, 0.8); border-radius: 1px; background-color: rgba(255, 255, 255, 0.6); }
.UIContent .UIStrength .Dim 	{ opacity: 0.2; }

.UIContent .UIListItemH1 		{ font-size: 1.5em; color: rgba(255, 255, 255, 0.9); }
.UIContent .UIListItemH2 		{ font-size: 1.3em; color: rgba(255, 255, 255, 0.9); }
.UIContent .UIListItemH3		{ font-size: 1.2em; color: rgba(255, 255, 255, 0.9); }
.UIContent .UIListItemH4 		{ font-size: 1.0em; color: rgba(255, 255, 255, 0.9); }

.UIContent .UISplit 			{ display: flex; flex-direction: row; justify-content: center; flex-wrap: nowrap; align-items: flex-start; width: 100%; }
.UIContent .UISplit div 		{ text-align: center; margin: 0 10px; }

.UIContent .UISeparator 		{ display: flex; flex-direction: row; justify-content: center; flex-wrap: nowrap; height: 30px; }
.UIContent .UISeparatorTop 		{ border-radius: 15px; border-top: 1px solid white; align-self: flex-end; height: 50%; width: 100%; }
.UIContent .UISeparatorBottom 	{ border-radius: 15px; border-bottom: 1px solid white; align-self: flex-start; height: 50%; width: 100%; }

.UIContent .UISpacer 			{ width: 1px; }

.UIContent > *:not(.UISplit):not(.UIWell):hover 	{ opacity: 0.6; }
.UIContent > .UISplit > * > *:hover 				{ opacity: 0.6; }

.UIButton { z-index: 40; position: absolute; opacity: 0.6; color: #ffffff; background-color: transparent; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
		-webkit-transition: opacity 0.5s, 	text-shadow 0.14s, 	-webkit-transform 0.14s;
			-ms-transition: opacity 0.5s, 	text-shadow 0.14s, 		-ms-transform 0.14s;
				transition: opacity 0.5s, 	text-shadow 0.14s, 			transform 0.14s; }
.UIButton:not(.UIButtonClick):hover { opacity: 1.0; text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4); 
			-ms-transform: 	translate(-1px, -2px);
	    -webkit-transform: 	translate(-1px, -2px);
	    		transform: 	translate(-1px, -2px);	}
.UIButtonClick {
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0); 
			-ms-transform: 	translate(1px, 2px);
	    -webkit-transform: 	translate(1px, 2px);
	    		transform: 	translate(1px, 2px);	}

#backButton { z-index: 60; position: absolute; opacity: 0.6; color: #222222; font-size: 2em; background-color: transparent; }
#backButton:hover { opacity: 1.0; }

.headerText {
	font-size: 1.5em;
	color: #ffffff;
	background-color: transparent;

	-webkit-transition: opacity 0.4s, 	-webkit-transform 0.4s;
		-ms-transition: opacity 0.4s, 		-ms-transform 0.4s;
			transition: opacity 0.4s, 			transform 0.4s;
}
.headerTextHidden {
	opacity: 0.0;
	-webkit-transform: translate(0px, -20px);
		-ms-transform: translate(0px, -20px);
			transform: translate(0px, -20px);
}
.headerTextShown {
	opacity: 0.7;
	-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
			transform: translate(0px, 0px);
}
